<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="en" />
    <meta name="title" content="nmovies 2022 - Download Bollywood,Hollywood,English Dubbed,South Indian Hindi Dubbed Full Movies Free Download" />
    <meta name="description" content="nmovies 2022 - Download Bollywood,Hollywood,English Dubbed,South Indian Hindi Dubbed Full Movies Free Download,  Nmovies 2022 movies" />
    <meta name="keywords" content="Nmovies, Nmovies 2022, New Mkv HD Movies, Mp4 Movies, hd Movies, 2022 new bollywood movies download, High Quility Movies, hd mobile movies, hindi movies 2022 download, hd movies download, mobile movies, " />
    <meta property="og:title" content="Nmovies 2022 - Download Bollywood,Hollywood,English Dubbed,South Indian Hindi Dubbed Full Movies Free Download" />
    <meta property="og:description" content="" />
    <meta property="og:keywords" content="Nmovies, filmyhit, New Mkv HD Movies, Mp4 Movies, hd Movies, 3gp, Mp4, HD Avi, HD Mp4, High Quility Movies, hd mobile movies, mp4hdmovies, hd movies download, mobile movies, " />
    <meta name="distribution" content="global" />
    <meta name="author" content="Nmovies" />
    <!-- css files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/phone.css">
    <title>Search nmovies 2022 - Download Bollywood,Hollywood,English Dubbed,South Indian Hindi Dubbed Full Movies</title>
</head>

<body>
    <!-- navbar -->
    <%- include('partials/navbar',{data1:data1}) %>

    <!-- imgae slider sections -->
    <%- include('partials/image-slider') -%>

    <main>
        <section class="main-section">
            <div class="titlle-name">
                <h1>Search result</h1>
            </div>
            <div class="main-content">

                <% data.forEach((e)=>{%>
                    <article class="main-content-article">
                        <a href="/home/<%=e.link%>" title="<%= e.movieName%>">
                            <img src="<%=e.img%>" alt="<%=e.movieName%>" title="<%=e.movieName%>">
                        </a>
                        <span style="color: white;"><%=e.date.toLocaleDateString()%></span>
                        <header>
                            <h2>
                                <a href="/home/<%=e.link%>" title="<%= e.movieName%>">
                                    <%=e.movieNameD%>
                                </a>
                            </h2>
                        </header>
                    </article>
                    <%})%>



            </div>
        </section>
    </main>
    <div class="movie-story">
        <p>nmovies 2022 - Download Bollywood,Hollywood,English Dubbed,South Indian Hindi Dubbed Full Movies Free Download,  Nmovies 2022 movies
            New Mkv HD Movies, Mp4 Movies, hd Movies, 2022 new bollywood movies download, High Quility Movies, hd mobile movies, hindi movies 2022 download, hd movies download, mobile movies,
        </p>
    </div>
    <%- include('partials/footer') -%>
    <script src="/js/js.js"></script>
</body>

</html>