<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="en" />
    <meta name="title" content="HD TV Web Series Free Download" />
    <meta name="description" content="HD TV Web Series Free Download,  Nmovies 2022 movies" />
    <meta name="keywords" content="Nmovies, Nmovies 2022, New Mkv HD Movies, Mp4 Movies, hd Movies, 2022 new bollywood movies download, High Quility Movies, hd mobile movies, hindi movies 2022 download, hd movies download, mobile movies, Online TV Serials download,Web Series Free Download,Indian Webseries free download" />
    <meta property="og:title" content="HD TV Web Series Free Download" />
    <meta property="og:description" content="" />
    <meta property="og:keywords" content="Nmovies, filmyhit, New Mkv HD Movies, Mp4 Movies, hd Movies, 3gp, Mp4, HD Avi, HD Mp4, High Quility Movies, hd mobile movies, mp4hdmovies, hd movies download, mobile movies, Online TV Serials download,Web Series Free Download,Indian Webseries free download" />
    <meta name="distribution" content="global" />
    <meta name="author" content="Nmovies" />
    <meta property="og:site_name" content="Nmovies"/>
    <meta name="author" content="Nmovies" />
    <!-- css files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/phone.css">
    <title>HD Web Series Free Download</title>
</head>

<body>
    <!-- navbar -->
    <%- include('partials/navbar') -%>

    <!-- imgae slider sections -->
    <%- include('partials/image-slider') -%>

    <main>
        <section class="main-section">
            <div class="titlle-name">
                <h4>Web Series</h4>
            </div>

            <div class="main-content">
                <% data.forEach((e)=>{%>
                    <article class="main-content-article">
                        <a href="/web/<%=e.link%>" title="<%= e.movieName%>" target="_blanck">
                            <img src="<%=e.img%>" alt="<%=e.movieName%>" title="<%=e.movieName%>">
                        </a>
                        <span style="color: white;"><%=e.date.toLocaleDateString()%></span>
                        <header>
                            <h2>
                                <a href="/web/<%=e.link%>" title="<%= e.movieName%>" target="_blanck"><%=e.movieNameD%></a>
                            </h2>
                        </header>
                    </article>
                    <%})%>

            </div>
        </section>
    </main>
    <div class="numbers">
        <% let j=0;data2.forEach((e,i)=>{%>
            <%if(i%25==0){ j++%>
        <a href="/web/page/<%=j%>"><%=j%></a>
   <% }%>
        <%})%>
    </div>
    <div class="movie-story">
        <p>New Mkv HD Movies, Mp4 Movies, hd Movies, 2022 new bollywood movies download, High Quility Movies, hd mobile movies, hindi movies 2022 download, hd movies download, mobile movies, Online TV Serials download,Web Series Free Download,Indian Webseries free download
            filmyhit, New Mkv HD Movies, Mp4 Movies, hd Movies, 3gp, Mp4, HD Avi, HD Mp4, High Quility Movies, hd mobile movies, mp4hdmovies, hd movies download, mobile movies, Online TV Serials download,Web Series Free Download,Indian Webseries free download
        </p>
    </div>

    <%- include('partials/footer') -%>
    <script src="/js/js.js"></script>
</body>

</html>